{% extends 'store/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block storeapp_content %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">Login</button>
            </form>
            <a href="{% provider_login_url  'google' %}" style="text-decoration:None;" >Google Login</a>
            <a href="{% url 'password_reset' %}">password-reset</a>
        </div>

    </div>
</div>

{% endblock storeapp_content %}